server {
    listen 80;
    server_name {YOUR_SERVER_NAME};

    location ^~ /.well-known {
        root         /home/www;
        default_type "text/plain";
    }
    location ^~ / { return 302 https://$server_name$request_uri; }
}
server {
    listen 443 ssl http2;
    server_name {YOUR_SERVER_NAME};
    index index.html index.htm index.php;
    root  /home/www;

    ssl_certificate           {YOUR_TLS_CERT};
    ssl_certificate_key       {YOUR_TLS_KEY};

    ssl_early_data            on;
    ssl_prefer_server_ciphers on;
    ssl_stapling              on;
    ssl_stapling_verify       on;
    resolver             1.1.1.1;

    ssl_protocols    TLSv1.2 TLSv1.3;
    ssl_ciphers      ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES256-CCM8:ECDHE-ECDSA-AES256-CCM:ECDHE-ECDSA-ARIA256-GCM-SHA384:!ECDHE-ECDSA-AES128-GCM-SHA256:!ECDHE-ECDSA-AES128-CCM:!ECDHE-ECDSA-AES128-CCM8:!ECDHE-ECDSA-ARIA128-GCM-SHA256;
    ssl_conf_command Ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256;

    ssl_dhparam  dhparam.pem;
    ssl_ecdh_curve secp384r1;
    ssl_session_timeout   6h;
    ssl_session_tickets  off;
    ssl_session_cache builtin:1000 shared:SSL:10m;

    add_header Strict-Transport-Security "max-age=31536000; preload" always;

    location /heartbeat { return 204; }

}
