server {
    listen 80;
    listen [::]:80;
    server_name {YOUR SERVER NAME} ;
    return 302 https://$server_name$request_uri;
    # In case the browser cache it while we need to edit something, do not use 301.
}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {YOUR SERVER NAME HERE} ;
    index index.html index.htm index.php;
    root  /home/www/homepage;

    ssl_early_data            on;
    ssl_certificate           {YOUR CERTIFICATE FILE};
    ssl_certificate_key       {YOUR CERTIFICATE KET FILE};
    ssl_protocols             TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers               'TLS-CHACHA20-POLY1305-SHA256:TLS-AES-256-GCM-SHA384:TLS-AES-128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES256-CCM8:ECDHE-ECDSA-AES256-CCM:ECDHE-ECDSA-AES128-CCM:ECDHE-ECDSA-AES128-CCM8';
    ssl_ecdh_curve            secp384r1;
    add_header                Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
    ssl_session_cache         builtin:1000 shared:SSL:10m;
    ssl_session_timeout       6h;
    ssl_dhparam               dhparam.pem;

    access_log logs/homepage.log;
}
